.body{
    background-image: url('bg-main2.jpg');
    background-repeat: no-repeat;
	background-size: cover;
}

#myVideo{
    position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.form-text{
    display: none;
}

.validation__message{
    display: unset;
    color: darksalmon;
}
#btn_Registro{
    text-align: center;
}

.card{
    position: fixed;
    
}
