.body{
    background-image: url('bg-main2.jpg');
    background-repeat: no-repeat;
	background-size: cover;
}

.form-text{
    display: none;
}

.validation__message{
    display: unset;
    color: darksalmon;
}